<div ng-controller="loginController">
    <div class="simple">
        no padding
    </div>

    <div class="fancy">
        I have padding
    </div>

    <div class='style-el'>
        <style type="text/css">
            @import url(styles/CSSLearning/importcss.css) print;
            .style-el div  {color: green;}
            /*not work if put @import here*/
            /*@import url(styles/CSSLearning/importcss.css) print;*/
        </style>
        <div>
            I use style element
        </div>
        <h1>
            I use import css
        </h1>
        
    </div>
</div>
