<body class="col-lg-12" >
    <div class="col-md-6">
        <div class="col-md-12" style="background:#CED8F6;" height="300">
            <div id="objEditor">
                <h3>object</h3>
                <button ng-click="addNewObj()"> add new</button>
            </div>
            <canvas id="objectCanvas"  height="300">
                hello
            </canvas>
        </div>
        
        <div class="col-md-12" style="background:#E0E6F8;" >
            <h1>component</h1>
            <canvas id="comCanvas"  height="300">
                hello
            </canvas>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" style=" background:#F6CEE3;">
        <h1>player</h1>
        <canvas id="playerCanvas"  height="670">
            hello
        </canvas>
        <div>
    </div>
</body>