<form action='login' method='POST'>
    <input type="hidden" name="clientid" value="helloworld1">
    <input type="hidden" name="userorigin" value="google">
    <input type="submit" value="via google" />
</form>

<form action="login" method="POST">
    <input type="hidden" name="clientid" value="helloworld1">
    <input type="hidden" name="userorigin" value="sme">
    <p>Phone Number: <input type="text" name="username" required="required" /></p>
    <p>Password: <input type="text" name="passwd" required="required"/></p>
    <input type="submit" value="Login" />
</form>